/* FONTE */
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

/* NAVBAR */
.navbar {
  background-color: rgba(0, 0, 0, 0.4);
}

/* HOME */
.home {
  background-image: url(./Imagens/hjome.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  height: 115vh;
}

.elementos {
  margin-left: 175px;
  gap: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.elementos h1 {
  color: #fa9703;
  font-weight: bold;
  font-size: 80px;
}

.texto {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  flex-direction: column;
  font-size: 40px;
  line-height: 25px;
}

.botao {
  list-style: none;
  padding: 15px 45px;
  background-color: #fa9703;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-radius: 40px;
  font-size: 35px;
}

.logo {
  max-width: 250px;
}

/* SOBRE MIM  */
.sobremim {
  background-image: url(./Imagens/to.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  height: 115vh;
}

.sobremim span {
  color: #fa9703;
}

.txt-sobremim {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  max-width: 900px;
  margin-left: 25px;
}

.textos-do-sobremim {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  font-size: 30px; 
  margin-left: 25px;
  color: white;
}

.textos-do-sobremim h3 {
  color: #fa9703;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
}

.textos-do-sobremim h2 {
  font-size: 40px;
  font-weight: bold;
}

.textos-do-sobremim p {
  font-size: 25px;
  line-height: 40px;
  font-weight: bold;
}

/* BENEFICIOS */

.beneficios {
  background-image: url(./Imagens/bene2.jpg);
  background-size: cover;
  background-position: center;
  padding: 10px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 115vh;
}

.beneficios h2 {
  color: #fa9703;
  padding-top: 75px;
  font-size: 80px;
}

.cards {
  display: flex;
}

.cards div {
  width: 400px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 120px 30px;
  padding: 0px 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  border: 2px solid #fff;
  text-align: center;
  color: white;
  font-size: 25px;
}

.cards img {
  width: 150px;
}

.cards h3 {
  font-size: 30px;
}

/* PRINCIPAIS CURSOS */
.cursos {
  background-image: url(./Imagens/principais2.jpg);
  background-size: cover;
  background-position: center;
  padding: 10px 0;
  height: 115vh;
}

.poscardcurso h2 {
  display: flex;
  justify-content: center;
  color: #fa9703;
  font-size: 80px;
  margin: 50px 0;
}

.poscardcurso {
  width: 55%;
  margin-left: auto;
  margin-right: 50px;
}

.cardcurso {
  border: 2px solid #fa9307;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  margin-bottom: 60px;
  padding: 20px;
}

.cardcurso h3 {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}

.cardcurso p {
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 0;
}

.cardcurso span {
  padding-top: 10px;
  font-weight: bold;
  color: #fa9307;
  font-size: 35px;
  margin-right: 10px;
}

/* APH TÁTICO */
.aphtatico {
    background-image: url(./Imagens/aph\ tatico.jpg);
    background-size: cover;
    height: 115vh;
}

.aphtatico h2 {
    color: #fa9703;
    font-size: 80px;
    padding-top: 80px;
    margin-left: 30px;
}

.aphtatico div {
    display: flex;
    font-size: 30px;
    color: white;
    padding: 10px 300px;
}

.aphtatico div p {
    padding-top: 45px;
}

.aphtatico div img {
    width: 150px;
}

#torniquete p {
    padding-left: 200px;
}

/* FOOTER */
#footer {
    background-color: #000000; 
    color: white; 
    padding-top: 30px;
}

#infofooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-evenly;
}

#marginfooter {
    margin-bottom: 30px;
    font-weight: bold;
}

#entrecontato {
    font-size: 20px;
    text-align: center;
}

#e-mail {
    text-decoration: none;
    list-style: none;
    color: #FFFFFF;
}

.iconesfooter {
    width: 30px;
    height: 35px;
}

.margin-top-footer {
    margin-top: 10px;
}

.siga-nos {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.info-siga-nos {
    flex-direction: column;
}

#instagram {
    text-decoration: none; 
    list-style: none; 
    color: #FFFFFF;
}

#whatsapp {
    text-decoration: none; 
    list-style: none; 
    color: #FFFFFF;
    margin-top: 10px;
}

.direitos-footer {
    background-color: #696969;
    max-width: 100%;
    color: #FFFFFF;
    text-align: center;
    margin: 0px;
}

#escrita-direitos {
    text-align: center;
    margin: 0px;
}

/* RESPONSIVIDADE CELULAR */
@media only screen and (max-width: 600px) {
  /* NAVBAR */
  .navbar {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* HOME */
  .home {
    height: 700px;
  }

  .elementos {
    gap: 18px;
    width: 100%;
    margin: 0;
  }

  .logo {
    max-width: 200px;
  }

  .elementos h1 {
    font-size: 50px;
  }

  .texto {
    font-size: 25px;
    align-items: center;
    text-align: center;
  }

  .texto p {
    line-height: 10px;
  }

  .botao {
    padding: 10px 25px;
    font-size: 25px;
    border-radius: 30px;
  }

  /* Sobre mim */
  .sobremim {
    text-align: center;
    height: auto;
    padding: 35px 15px;
  }

  .txt-sobremim {
    margin-left: 0;
    gap: 30px;
  }

  .textos-do-sobremim {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  .textos-do-sobremim h3 {
    font-size: 25px;
    color: white;
  }

  .textos-do-sobremim h2 {
    font-size: 40px;
  }

  .textos-do-sobremim p {
    font-size: 18px;
    line-height: 25px;
  }

  /* BENEFICIOS */
   .beneficios {
    height: auto;
  }

  .beneficios h2 {
    padding: 40px 0;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .cards div {
    width: 80%;
    height: auto;
    margin: 20px 0;
    padding: 20px 10px;
    font-size: 20px;
    gap: 10px;
  }

  .cards img {
    width: 100px;
  }

  .cards h3 {
    font-size: 25px;
  }
  
  /* PRINCIPAIS CURSOS */
    .cursos {
    height: auto;
  }

  .poscardcurso {
    margin: 0;
    margin: 45px;
    width: 80%;
  }

  .poscardcurso h2 {
    font-size: 50px;
    font-weight: bold;
  }

  .cardcurso {
    flex-direction: column;
    text-align: center;
  }

  .cardcurso h3 {
    font-size: 25px;
  }

  .cardcurso p {
    font-size: 20px;
    padding-right: 0;
  }

  .cardcurso span {
    font-size: 25px;
  }

  /* APH TATICO */
  .aphtatico {
    height: auto;
    background-position: center;
    padding: 25px 15px;
  }

  .aphtatico h2 {
    font-size: 50px;
    padding: 20px 0;
    margin: 0;
    text-align: center;
  }

  .aphtatico div {
    align-items: center;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
  }

  .aphtatico div img {
    width: 120px;
    margin-top: 20px;
  }

  #torniquete p {
    padding-left: 0;
  }